{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["import", "@typescript-eslint", "eslint-plugin-tsdoc"],
  "env": {
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021
	},
  "rules": {
    "tsdoc/syntax": "warn",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "index", "sibling", "parent"],
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "prettier/prettier": [
      2,
      {
        "printWidth": 120,
        "singleQuote": true,
        "quoteProps": "as-needed",
        "trailingComma": "all",
        "endOfLine": "lf",
        "arrowParens": "avoid",
				"semi": true,
				"jsxSingleQuote": true
      }
    ]
  }
}
