# yarn
/.yarn/*
!/.yarn/cache
!/.yarn/cache/**
!/.yarn/patches
!/.yarn/patches/**
!/.yarn/plugins
!/.yarn/plugins/**
!/.yarn/releases
!/.yarn/releases/**
!/.yarn/sdks
!/.yarn/sdks/**
!/.yarn/versions
!/.yarn/versions/**
!/.pnp.*

# other
/coverage/*